{% extends 'base.html' %}

{% block title %}
{{ post.restaurant_name }} ({{ post.date_of_post }}
{% endblock title %}

{% block content %}
<h2>Restaurante {{ post.restaurant_name }} ({{ post.date_of_post }})</h2>

<section class="dados-de-filme">
    <img src="{{ post.poster_url }}" alt="Foto do restaurante {{ post.restaurant_name}}">
    <ul>
        <h3> Comentário geral: </h3>
        <li>{{post.content}}</li>
        
        <h3> Avaliação Geral do Restaurante (Nota de 0 a 5) </h3>
        <li>{{ post.eval }}</li>

        {% if post.category_set.all %}
        <h3>Categorias que participa: </h3>
        <li>{{ post.category_set.all|join:", " }} </li>
        {% endif %}

        <hr>
        <li><a href="{% url 'posts:update' post.id %}">Editar</a></li>
        <li><a href="{% url 'posts:delete' post.id %}">Apagar</a></li>
    </ul>
</section>

<hr>

<section>
    <header>
        <h3>Comentários</h3>
    </header>
    <ul>
        {% if post.review_set.all %}
            {% for review in post.review_set.all %}
                <figure class="comentario">
                    <p>{{ review.author }}, {{review.date_of_post}}</p>
                    <blockquote id = 'texto_comentario'>
                        {{ review.text }}
                    </blockquote>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum Comentário para este restaurante.</p>
        {% endif %}
    </ul>

    <hr>

    <a href="{% url 'posts:review' post.pk %}"><button>Adicione um Comentário</button></a>

</section>
</section>

{% endblock content %}